:root {
  /* Text */
  --md-default-fg-color:           rgba(220, 221, 222, 1.0);
  --md-default-fg-color--light:    rgba(220, 221, 222, 0.7);
  --md-default-fg-color--lighter:  rgba(220, 221, 222, 0.4);
  --md-default-fg-color--lightest: rgba(220, 221, 222, 1.0);

  /* Background */
  --md-default-bg-color:           rgba(54, 57, 63, 1.0);
  --md-default-bg-color--light:    rgba(54, 57, 63, 1.0);
  --md-default-bg-color--lighter:  rgba(54, 57, 63, 1.0);
  --md-default-bg-color--lightest: rgba(54, 57, 63, 1.0);
  
  /* Primary */
  --md-primary-fg-color:           rgba(32, 34, 37, 1.0);
  --md-primary-fg-color--light:    rgba(255, 34, 37, 1.0);
  --md-primary-fg-color--dark:     rgba(32, 255, 37, 1.0);

  /* Logo and Title */
  --md-primary-bg-color:           rgba(220, 221, 222, 1.0);

  /* Search bar */
  --md-primary-bg-color--light:    rgba(220, 221, 222, 0.7);
}