[data-md-color-scheme="slate"] {
  --md-default-fg-color:             rgba(255, 255, 255, 0.60);
  --md-default-fg-color--light:      rgba(255, 255, 255, 0.38);
  --md-default-bg-color:             rgba(018, 018, 018, 0.95);
  
  --md-typeset-mark-color:           #808000;
  --md-typeset-del-color:            #800000;
  --md-typeset-ins-color:            #008000;

  --md-admonition-bg-color:          rgba(255, 255, 255, 0.05);

  --md-footer-fg-color:              rgba(255, 255, 255, 0.87);
  --md-footer-fg-color--light:       rgba(255, 255, 255, 0.60);
  --md-footer-fg-color--lighter:     rgba(255, 255, 255, 0.38);
  --md-footer-bg-color:              rgba(255, 255, 255, 0.05);
  --md-footer-bg-color--dark:        rgba(255, 255, 255, 0.07);  
}
  
[data-md-color-scheme="slate"] strong, [data-md-color-scheme="slate"] .md-nav__title, [data-md-color-scheme="slate"] h2, [data-md-color-scheme="slate"] h3, [data-md-color-scheme="slate"] h4 {
  color: rgba(255, 255, 255, 0.87);
}